In [2]:
import pandas as pd

In [3]:
import numpy as np

In [3]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df = pd.DataFrame(np.random.randn(6,4),index = dates, columns = list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.079927  0.086574  1.371994  0.524363
2013-01-02  0.236400 -1.053995 -0.566341 -0.611865
2013-01-03 -0.467826  2.427303 -1.108038  1.991693
2013-01-04 -1.806986  1.248107 -1.274638 -0.107756
2013-01-05  1.274774  0.647541 -0.038499  0.077410
2013-01-06  0.560344 -0.463322 -0.476472  1.441234

In [5]:
df2 = pd.DataFrame({ 'A' : 1.,
                     'B' : pd.Timestamp('20130102'),
                     'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                     'D' : np.array([3] * 4,dtype='int32'),
                     'E' : pd.Categorical(["test","train","test","train"]),
                     'F' : 'foo' })
df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [5]:
"""
協調フィルタリングのサンプル実装
"""
import pandas as pd

"""
1.行動データを読み込む
"""
conv_df = pd.read_csv("testdata.csv",encoding="utf-8")
conversions = [tuple(x) for x in conv_df[["customer","item"]].values]

In [7]:
print(conversions)

[('Aさん', '商品A'), ('Aさん', '商品B'), ('Bさん', '商品C'), ('Bさん', '商品G'), ('Bさん', '商品H'), ('Cさん', '商品B'), ('Cさん', '商品C'), ('Cさん', '商品M'), ('Dさん', '商品A'), ('Eさん', '商品B'), ('Eさん', '商品D'), ('Eさん', '商品E'), ('Eさん', '商品G'), ('Fさん', '商品D'), ('Fさん', '商品T'), ('Fさん', '商品E'), ('Gさん', '商品F'), ('Gさん', '商品G'), ('Gさん', '商品D'), ('Zさん', '商品A'), ('Zさん', '商品B'), ('Zさん', '商品Y'), ('Zさん', '商品X'), ('Zさん', '商品Z')]

In [8]:
print(conv_df)

   customer item
0       Aさん  商品A
1       Aさん  商品B
2       Bさん  商品C
3       Bさん  商品G
4       Bさん  商品H
5       Cさん  商品B
6       Cさん  商品C
7       Cさん  商品M
8       Dさん  商品A
9       Eさん  商品B
10      Eさん  商品D
11      Eさん  商品E
12      Eさん  商品G
13      Fさん  商品D
14      Fさん  商品T
15      Fさん  商品E
16      Gさん  商品F
17      Gさん  商品G
18      Gさん  商品D
19      Zさん  商品A
20      Zさん  商品B
21      Zさん  商品Y
22      Zさん  商品X
23      Zさん  商品Z